.button-app{
    outline: none;
    margin: 5px;
    padding: 4px;
    cursor: pointer;
    border-radius: 5px;
    text-transform: uppercase;
    background-color: #101010;
    color: #e8f0fe;;
    border: 1px solid #101010;
    z-index: 2;
    font-weight: bold;
    letter-spacing: 0.8px;
    font-size: 14px;
    -webkit-box-shadow: 0 10px 6px -6px #000;
    -moz-box-shadow: 0 10px 6px -6px #000;
    box-shadow: 0 10px 6px -6px #000;
}
.button-app:hover{
    background-color: #e8f0fe;
    color: #101010;
}