.tab-app{
    width:100%;
    height:100%;
    padding:0px;
}
.tab-title-list{
    display:flex;
    flex-direction:row;
    margin:0px;
}
.tab-title{
    cursor:pointer;
    font-size:28px;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    list-style-type:none;
    padding:8px;
}
.tab-view{
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.tab-view-inside{
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    width:98%;
    height:87vh;
    padding: 10px;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
    overflow: auto;
}
.text{
    color: #5ff15f;
    font-size: 12px;
}
.alert-box{
    margin: 10px; 
    padding: 10px; 
    border: 1px dashed white;
}
.alert-box-inside{ 
    padding: 10px; 
}
p{
    margin: 0;
}
.canvasjs-chart-credit{
    display: none;
}
.stats-box{
    position: absolute;
    left: 20px;
    bottom: 20px;
}
.dashboard{
    width:100%;
    height:100%;
    display:flex;
    flex-direction:row;
    align-items:flex-start;
    justify-content:center;
}
.item-pos{ 
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
}
.item-pos-left,.item-pos-right{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    font-size: 12px;
}
.item-pos-right{
    width: 100%;
    position: relative;
    right: 0;
}
.item-pos-left{
    width: 100%;
    position: relative;
    left: 0;
}
.flatlist-box{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 1px dashed yellow;
    color: white;
}
.match-box{
    display:flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    color: white;
    font-size: 12px;
    margin: 0;
    opacity: 0; 
    background-color: rgba(187, 108, 108, 0.5);
}
.match-box p{ 
    margin-right: 15px;
}
.match-box div{ 
    padding-top: 5px;
}