.App {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-color: #101010;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  min-height: 100vh;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}
.App-logo{
  pointer-events: none;
  position: absolute;
  z-index: 0;
  opacity: 0.2;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    width: 300px;
    height: 300px;
  }
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
html{ 
    user-select: none; /* supported by Chrome and Opera */
   -webkit-user-select: none; /* Safari */
   -khtml-user-select: none; /* Konqueror HTML */
   -moz-user-select: none; /* Firefox */
   -ms-user-select: none; /* Internet Explorer/Edge */
 
}
body{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 100vw;
  overflow: hidden;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.main-view {
  width: 300px;
  height: 250px;
  border-radius: 5px;
  background: #181818;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; 
  -webkit-box-shadow: 0 10px 6px -6px #000;
  -moz-box-shadow: 0 10px 6px -6px #000;
  box-shadow: 0 10px 6px -6px #000;
  line-height: normal;
}
.title-text-app{
  padding: 0;
  margin: 5px;
  font-size: 26px;
  font-weight: bold;
  color: #e8f0fe;
  z-index: 2;
}
.export-excel-btn{
  margin: 4px;
}
.MuiInput-underline:after {  
  border-bottom-color: white !important;
}
.alert-box{  
}